@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Shippori+Antique&display=swap');
body{
  background-color: #94b3c2;
}
.card{
  box-shadow: 3 12px 6px 3 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 7rem;
  height: 900px;
 max-width:  100%;
  display: flex;
  flex-basis: 100%;
  margin-bottom: 2 em;
  margin-top: 2 em;
  margin-left: 4;
  margin-right: 4;
  padding: 1 em;
  border: 5px solid purple;
  flex: 2 4 48%;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
 
}
.current-income {
  background-color: #BBBE64;
}
  
.card-content {
  padding: 2em;
}

/* .card-content h3 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: bold;
  color: rgb(43, 112, 241);
} */

.card-content p {
  font-size: 80%;
  color: darkslategrey;
}



/* .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Fira Sans', sans-serif; 
    background-color: #94b3c2;
  } */
  
  #root, body, html {
    height: 100%;
    margin: 0%;
  }
  
