@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Shippori+Antique&display=swap');

.expense {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Fira Sans', sans-serif;
      flex-basis: 28%;
      margin: 1em;
      padding: .6 em;
      border: 1px solid goldenrod;
  }

  /* .first-card {
    font-weight: 800;
    font-size: 20px;
    text-align: left;
    justify-content: space-evenly;
    flex-basis: 85%;
    margin: 3 em;
    padding: 3 em;
    border: .3 rem solid #09154048;
    background: rgb(194, 206, 216);
    /* background: linear-gradient(90deg, rgb(255, 255, 255) 82%, rgba(180, 197, 228, 1) 100%); */
    /* border-radius: 1 rem;
    box-shadow: .4rem .4rem .5rem rgba(0, 0, 0, 3);
    font-family: 'Fira Sans', sans-serif; 
  /* } */ */ */
  
  #first-expense-font {
    font-weight: 800;
    font-size: larger;
  }
  
  
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 2px 8px 0 rgba(0,0,0,1.0);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background: rgb(194, 206, 216);
    margin-bottom: 2em;
    flex: 0 1 24%;
  }
  
  .card-content {
    padding: .5 em;
  }
  
  .card-content h3 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
    color: rgb(118, 121, 128);
  }
  
  .card-content p {
    font-size: 80%;
    color: darkslategrey;
  }
  
  .content-expensename {
    color: darkslategrey;
    text-underline-position: below;
    font-weight: 800;
  }
  
  .card button {
    background-color: rgb(62, 108, 129);
    border-radius: 5%;
    color: rgb(66, 66, 64);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight:800 ;
    padding: 1.0em;
    border-radius: 2px;
    margin: 5px 1px 0px;
    width: 20%;
  }
  
  .card button:hover {
    background-color: rgb(158, 158, 165);
  }